# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
dist-ssr/
*.local

# Capacitor files
# (Note: Capacitor creates an android/ directory. We want to commit the android/ directory, 
# but ignore some local gradle/android user files if necessary. 
# The android folder itself has its own build/ folders which capacitor handles or should be ignored)
android/app/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.variables.json
android/app/src/main/assets/capacitor.config.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
